.demo {
    /* for IE10+ touch devices */
    touch-action:none;   
}

/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
  
    z-index: 5;
    position: absolute;
    border-radius: 31px;
}


.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}
.button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/** ELEMENT POSITIONS **/
#ld1 {
    top: 16.6em;
    left: 58em;
    
}

#ld2 {
    top: 16.6em;
    left: 54em;
}

#ld3 {
    top: 33.8em;
    left: 10.2em;
}

#ld4 {
    top: 33.8em;
    left: 15.2em;
}

#ld5 {
    top: 23.9em;
    left: 35em;
  
}
#ld6 {
    top: 23.9em;
    left: 37.3em;
}
#ld7 {
    top: 16.2em;
    left: 40.8em;
}
#ld8 {
    top: 21.8em;
    left: 36.1em;
}
#ld9 {
    top: 10.8em;
    left: 36em;
}
#ld10 {
    top: 18.8em;
    left: 2em;
}
#ld11 {
    top: 18.8em;
    left: 4.6em;
}
#ld12 {
    top: 23em;
    left: 10em;
}
#ld13 {
    top: 26em;
    left: 10em;
}

#ld14 {
    top: 15.5em;
    left: 12.5em;
}
#ld15 {
    top: 15.5em;
    left: 17.5em;
}


path, .jtk-endpoint {
    cursor: pointer;
}

#canvas{
    color: #4CAF50;
}